<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>$!pageTitle</title>
        <meta name="description" content="Tiramisu Application">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" href="$!STATIC_ROOT/css/reset.css" />
        <link rel="stylesheet" href="$!STATIC_ROOT/css/style.css" />
	</head>
	<body>
		<!-- Menu -->
		<div class="banner flex-container">
			<h1 class="layout-margin">Hello Tiramisu</h1>
		</div>
		<div id="messages">#parse('messages.vm')</div>
		<div>#parse($!content)</div>
	</body>
</html>