<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Description</th>
			<th>Created</th>
			<th>Modified</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>$!post.getId()</td>
			<td>$!post.getTitle()</td>
			<td>$!post.getBody()</td>
			<td>$!post.getCreated()</td>
			<td>$!post.getModified()</td>
		</tr>
	</tbody>
</table>

<form action="/tiramisu/posts/$!post.getId()" method="PUT">
	<div>
		<label for="title">Title:</label>
		<input type="text" id="title" name="post_title" value="$!post.getTitle()" />
	</div>
	<div>
		<label for="body">Body:</label>
		<textarea id="body" name="post_body">$!post.getBody()</textarea>
	</div>
	<div>
		<button type="submit">Create Post</button>
	</div>
</form>