<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>$!pageTitle</title>
        <meta name="description" content="Tiramisu Application">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" href="$!STATIC_ROOT/static/wut.css" />
	</head>
	<body>#parse($!content)</body>
</html>