<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="Tiramisu" version="3.1">

	<display-name>Tiramisu</display-name>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<!-- Plain text description -->
		<description>Tiramisu Application</description>
		<!-- The administration display name of the application -->
		<display-name>Tiramisu Application</display-name>
		<!-- The canonical name of the servlet -->
		<servlet-name>Tiramisu</servlet-name>
		<!-- The raw servlet class name -->
		<servlet-class>au.com.ifti.RouterServlet</servlet-class>
		<!-- Directory listings enabled? -->
		<init-param>
			<param-name>listings</param-name>
			<param-value>true</param-value>
		</init-param>
		<!-- Load on startup metric -->
		<load-on-startup>0</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/static/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Tiramisu</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	
	<context-param>
		<param-name>pepper</param-name>
		<param-value><![CDATA[hyvfq1jyns&72-3$8^*mrg_ovqdtrrscf4hss#7uf^]]></param-value>
	</context-param>

	<!--
	<listener>
		<listener-class>net.sf.ehcache.constructs.web.ShutdownListener</listener-class>
	</listener>
	-->

</web-app>