<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>Username</th>
			<th>Email</th>
			<th>Active</th>
			<th>Created</th>
			<th>Modified</th>
		</tr>
	</thead>
	<tbody>
		#foreach($user in $users)
		<tr>
			<td>$!user.getId()</td>
			<td>$!user.getUsername()</td>
			<td>$!user.getEmail()</td>
			<td>$!user.getActive()</td>
			<td>$!user.getCreated()</td>
			<td>$!user.getModified()</td>
		</tr>
		#end
	</tbody>
</table>